body{
    background:linear-gradient(30deg,aquamarine,white);
}
.center{
    width: 50%;
    border: 1px solid black;
    margin: auto;
}
.sideBox{
    position: relative;
    float:right;
    margin: 10px auto 10px auto;
}
input{
    background-color: lightgray;
    outline: 1px solid black ;
}
p{
    font-size: larger;
}
#comment{
    background-color: rgb(2, 2, 2);
    color: white;
}