
@import "https://unpkg.com/open-props";

*,
*::before, *::after{
    box-sizing: border-box;
}

body{
    font-family: var(--font-sans);
    font-size: var(--font-size-3);
    background: var(--gradient-16);
    
}

.header {text-align: center;
    background: var(--gray-9);
    padding-block: var(--size-10);
    margin-block-end: var(--size-8);
    box-shadow: var(--shadow-4) ;
    color:var(--sand-2);

}

.in-line{
    margin: auto;
}

a{
color:var(--sand-3);
transition-duration:500ms;
transition-property: background, outline, outline-offset, font-size; 
}
a:hover{
    font-size: larger;
    color:var(--brown-2);
    background-color: var(--sand-9);
    outline: 1px solid var(--sand-9);
    outline-offset: 3px;
    border-radius: 1%;

}

.grid-columns{
    margin:auto;
}
h2{
    color:  var(--brown-3) ;
}
h3{
    color:var(--brown-1);
}

.in-line li{
    text-align: center;
    display:inline;
    padding: 1%;
}
.grid-columns{
    margin: 5px;
    gap: 1em;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.column{
    background: var(--gray-9);
    color:var(--sand-2);
    box-shadow: var(--shadow-4) ;

}
.column:first-child{
    grid-row-start: 1;
    grid-row-end: 3;
}
h2::after{
    content:":";
}