@import url(text.css);
@import url(img.css);



body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: linear-gradient(270deg, #778da9,white, #778da9 );
          color: #0d1b2a;
   
  }
  #footer{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: 800px;
  }