@import url(text.css);
@import url(img.css);
@import url(portfolio.css);


body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: linear-gradient(270deg, #778da9,white, #778da9 );
          color: #0d1b2a;
   
  }
  #footer{
    position: fixed; 
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: rgba(225 ,225, 225, .2) ;
    z-index: 2;
  }
  #concretePhoto{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  #concretePhoto > img {
    left: 50%;
    display: block;
        object-fit: cover;
    object-position: center;
    border: black solid;
    border-width: 4px;
    overflow: none;
  }