#header {
    text-align: center;
    color: black;
    z-index: 1;
}

#footer {
    text-align: center;
    color: black;

}


h1 {
    text-align: center;
}

li {
    display: inline;
    padding: 10px;
}

li>a {

    font-weight: bold;
    color: black;

}